{{#if isLifetime}}
<p>This lifetime license never expires and works on up to {{maxActivations}} devices.</p>
{{else}}
<p>This license is valid until {{expirationDate}} and works on up to {{maxActivations}} devices.</p>
{{/if}}